<%- include('../../navigation/header') %>

    <div class="wrapper-content">
        <!-- Registrasi -->
        <section class="py-2" id="features">
            <div class="container">
                <div class="row">
                    <div class="py-2">
                        <h4 class="text-warning"><a>Registrasi</a></h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <%- include('../../cards/panduan/registrasi/index') %>
            </div>
        </section>

        <!-- Synopsis -->
        <section class="py-2">
            <div class="container">
                <div class="row">
                    <div class="py-2">
                        <h4 class="text-warning">Pengerjaan Soal</h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <%- include('../../cards/panduan/pengerjaan-soal/index') %>
            </div>
        </section>

        <!-- Features -->
        <section class="py-2">
            <div class="container">
                <div class="row">
                    <div class="py-2">
                        <h4 class="text-warning">Pembelian Paket</h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <%- include('../../cards/panduan/pembelian-paket/index') %>
            </div>
        </section>

        <!-- Daftar Paket -->
        <section class="py-2">
            <div class="container">
                <div class="row">
                    <div class="py-2">
                        <h4 class="text-warning">Pembelian Buku</h4>
                    </div>
                </div>
            </div>
            <div class="container">
                <%- include('../../cards/panduan/pembelian-buku/index') %>
            </div>
        </section>
    </div>

<%- include('../../footer/index') %>